/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.home-container {
  display: flex;
  justify-content:center;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 900px;
  width: 100%;
  max-width: 100vw;
  padding: 10px;
}

/* Ajusta el tamaño de las tarjetas */
.card {
  width: 100%;
  max-width: 350px; /* Para que no se estiren demasiado en pantallas grandes */
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease;
  text-align: center;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  width: 130px; /* Tamaño fijo para que no se distorsione */
  height: 130px;
  object-fit: cover;
  margin-top: 20px;
}

.card-content {
  padding: 20px;
}

.card-content h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.card-content p {
  font-size: 14px;
  color: #666;
}

.card a {
  text-decoration: none;
  color: inherit;
}

.card a:hover .card-content h3 {
  color: #007bff;
}

.card a:hover .card-content p {
  color: #0056b3;
}